<!-- Hamburger button to trigger menu -->
<button class="hamburger-btn" (click)="toggleMenu()">
    <span class="hamburger-icon">&#9776;</span> <!-- Hamburger icon -->
</button>

<!-- Popup menu -->
<div class="popup-menu" *ngIf="isMenuOpen">
    <ul>
        <!-- Quizzes Dropdown -->
        <li class="dropdown">
            <a href="#" class="dropdown-link" (click)="toggleDropdown($event, 'quizzes')">
                Quizzes
                <span class="icon">{{ isDropdownOpen.quizzes ? '▼' : '^' }}</span>
            </a>
            <ul *ngIf="isDropdownOpen.quizzes">
                <li><a href="/PSM 1">Professional Scrum Master Quiz</a></li>
                <li><a href="/AZ-900">Azure Fundamentals Quiz</a></li>
                <li><a href="/SAFe">SAFe Quiz</a></li>
                <li><a href="/Citizen">Citizenship Quiz</a></li>
            </ul>
        </li>
    </ul>
</div>
