<!-- Hamburger button to trigger menu -->
<button class="hamburger-btn" (click)="toggleMenu()">
    <span class="hamburger-icon">&#9776;</span> <!-- Hamburger icon -->
</button>

<!-- Popup menu -->
<div class="popup-menu" *ngIf="isMenuOpen">
    <ul>
        <!-- Quizzes Dropdown -->
        <li class="dropdown">
            <a href="#" class="dropdown-link" (click)="toggleDropdown($event, 'quizzes')">
                Quizzes
                <span class="icon">{{ isDropdownOpen.quizzes ? '▼' : '^' }}</span>
            </a>
            <ul *ngIf="isDropdownOpen.quizzes">
                <li><a href="/PSM 1">Professional Scrum Master Quiz</a></li>
                <li><a href="/AZ-900">Azure Fundamentals Quiz</a></li>
                <li><a href="/SAFe">SAFe Quiz</a></li>
                <li><a href="/Citizen">Citizenship Quiz</a></li>
            </ul>
        </li>

        <!-- General Dropdown -->
        <li class="dropdown">
            <a href="#" class="dropdown-link" (click)="toggleDropdown($event, 'general')">
                General
                <span class="icon">{{ isDropdownOpen.general ? '▼' : '^' }}</span>
            </a>
            <ul *ngIf="isDropdownOpen.general">
                <li><a href="/SAFe-study-guide.html">SAFe Certification Study Guide</a></li>
                <li><a href="/AZ-900-Study-Guide.html">AZ 900 Study Guide</a></li>
                <li><a href="/AzureOfferings.html">Azure Offerings</a></li>
                <li><a href="/OOP.html">Object-Oriented Programming and Design Principles</a></li>
                <li><a href="/Rest.html">REST API Development and Principles</a></li>
                <li><a href="/POPM.html">Product Owner Product Manager</a></li>
                <li><a href="/340B.html">340B Drug Pricing Program</a></li>
                <li><a href="/EQandExecutivePrescence.html">EQ and Executive Presence</a></li>
                <li><a href="/CloudNativeMemberCatalog.html">Cloud Native Catalog</a></li>
                <li><a href="/Lean.html">Lean Software Development</a></li>
                <li><a href="/JTBD.html">Jobs to be Done</a></li>
                <li><a href="/TOC.html">Theory of Constraints</a></li>
                <li><a href="/SemanticKernal.html">Semantic Kernal</a></li>
                <li><a href="/ML.html">Artificial Intelligence</a></li>
                <li><a href="/SoftwareDevKPIs.html">Software Development KPIs</a></li>
                <li><a href="/Nodejs.html">Node JS</a></li>
            </ul>
        </li>
        <!-- Compliance Dropdown -->
        <li class="dropdown">
            <a href="#" class="dropdown-link" (click)="toggleDropdown($event, 'compliance')">
                Compliance
                <span class="icon">{{ isDropdownOpen.compliance ? '▼' : '^' }}</span>
            </a>
            <ul *ngIf="isDropdownOpen.compliance">
                <li><a href="/TOGAF.html">The Open Group 10.0</a></li>
                <li><a href="/NIST.html">NIST</a></li>
                <li><a href="/CMMC.html">CMMC</a></li>
                <li><a href="/ISO27001.html">ISO 27001</a></li>
                <li><a href="/DFARS.html">DFARS</a></li>
                <li><a href="/DFARS.html">DFARS</a></li>
                <li><a href="/Tila.html">TILA</a></li>
                <li><a href="/Respa.html">RESPA</a></li>
            </ul>
        </li>
        <!-- UIUX Dropdown -->
        <li class="dropdown">
            <a href="#" class="dropdown-link" (click)="toggleDropdown($event, 'uiux')">
                UI/UX
                <span class="icon">{{ isDropdownOpen.uiux ? '▼' : '^' }}</span>
            </a>
            <ul *ngIf="isDropdownOpen.uiux">
                <li><a href="/React.html">React</a></li>
                <li><a href="/Vue.html">Vue</a></li>
                <li><a href="/Angular.html">Angular</a></li>
                <li><a href="/AngularCLI.html">Angular CLI</a></li>
                <li><a href="/AngularDecorators.html">Angular Decorators</a></li>
            </ul>
        </li>

        <!-- Fintech Dropdown -->
        <li class="dropdown">
            <a href="#" class="dropdown-link" (click)="toggleDropdown($event, 'fintech')">
                Fintech
                <span class="icon">{{ isDropdownOpen.fintech ? '▼' : '^' }}</span>
            </a>
            <ul *ngIf="isDropdownOpen.fintech">
                <li><a href="/Compliance-in-Banking.html">Banking and Mortgage Software Development</a></li>
                <li><a href="/MortgageServices.html">Mortgage Services</a></li>
                <li><a href="/MortgageServicesSoftware.html">Mortgage Services Software</a></li>
                <li><a href="/Tila.html">TILA</a></li>
                <li><a href="/Respa.html">RESPA</a></li>
                <li><a href="/MISMO.html">MISMO</a></li>
            </ul>
        </li>
    </ul>
</div>
