<!-- Hamburger button to trigger menu -->
<button class="hamburger-btn" (click)="toggleMenu()">
    <span class="hamburger-icon">&#9776;</span> <!-- Hamburger icon -->
 </button>
  
  <!-- Popup menu -->
  <div class="popup-menu" *ngIf="isMenuOpen">
    <ul>
      <li><a routerLink="/PSM 1">Professional Scrum Master Quiz</a></li>
      <li><a routerLink="/AZ-900">Azure Fundamentals Quiz</a></li>
      <li><a routerLink="/SAFe">SAFe Quiz</a></li>
      <li><a routerLink="/Citizen">Citizen</a></li>
<li>---</li>
      <li><a href="/Angular.html">Angular</a></li>
      <li><a href="/SAFe-study-guide.html">SAFe Certification Study Guide</a></li>
      <li><a href="/AZ-900-Study-Guide.html">AZ 900 Study Guide</a></li>
      <li><a href="/Compliance-in-Banking.html">Banking and Mortgage Software Development</a></li>
      <li><a href="/OOP.html">Object-Oriented Programming and Design Principles</a></li>
      <li><a href="/Rest.html">REST API Development and Principles</a></li>
      <li><a href="/MortgageServices.html">Mortgage Services</a></li>
      <li><a href="/MortgageServicesSoftware.html">Mortgage Services Software</a></li>
      <li><a href="/Tila.html">Tila</a></li>
      <li><a href="/Respa.html">Respa</a></li>
      <li><a href="/MISMO.html">MISMO</a></li>
      <li><a href="/340B.html">340B Drug Pricing Program</a></li>
      <li><a href="/POPM.html">Product Owner Product Manager</a></li>
      <li><a href="/SAFe-study-guide.html">SAFe Study Guide</a></li>
    </ul>
  </div>
  