.progress-bar {
  width: 100%;
  background-color: #333; /* Darker background for progress bar */
  border: 1px solid #555; /* Dark border color */
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attempt-counter {
  font-weight: bold;
}

.progress {
  height: 100%;
  background-color: #76ff03; /* A bright green color for better visibility */
  width: 100%; /* Initially full */
  transition: width 1s linear; /* Smooth transition */
}

button {
  font-size: 1.5em; /* Increase font size */
  padding: 15px 30px; /* Increase padding to make the button larger */
  background-color: #303f9f; /* Dark blue background */
  color: white; /* White text color for contrast */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor for better UX */
}

button:disabled {
  background-color: #666; /* Darker shade when disabled */
  cursor: not-allowed; /* Not-allowed cursor when button is disabled */
}

.quiz-container {
  background-color: #121212; /* Dark background for the container */
  color: #e0e0e0; /* Light text for readability */
  padding: 20px; /* Padding for spacing */
  border-radius: 10px; /* Rounded corners for aesthetic */
}

.correct {
  color: #4caf50; /* Green text for correct answer */
}

.incorrect {
  color: #f44336; /* Red text for incorrect answer */
}
.answer-option {
  margin-bottom: 15px; /* Add spacing between options */
}

.answer-label {
  font-size: 1.2em; /* Increase the font size for better readability */
  display: flex; /* Make the label fill the clickable area */
  align-items: center; /* Align checkbox or radio button with the text */
  cursor: pointer; /* Make it clear that the label is clickable */
  padding: 10px; /* Increase padding around the label for easier clicking */
  border: 2px solid #333; /* Add a border for better visibility */
  border-radius: 8px; /* Rounded corners for a nicer look */
  background-color: #202020; /* Dark background for better contrast */
  color: #ffffff; /* Light text color for readability */
}

.answer-label input {
  width: 25px; /* Increase size of checkbox/radio button */
  height: 25px; /* Increase size of checkbox/radio button */
  margin-right: 15px; /* Add space between checkbox/radio button and label text */
}

.answer-label:hover {
  background-color: #424242; /* Change background on hover to indicate interactivity */
  border-color: #76ff03; /* Highlight border on hover */
}
